<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Редактировать чек{% else %}Создать чек{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Редактировать чек{% else %}Создать чек{% endif %}</h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <h3>Товары:</h3>
    {{ formset.management_form }}
    <div id="product-forms">
        {% for form in formset %}
            <div class="product-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    
    <button type="submit">Сохранить</button>
</form>
    <a href="{% url 'receipt_list' %}">Отмена</a>
</body>
</html>